*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
@font-face{
	font-family:'abas';
	src: url("fontes/NotoSansAvestan-Regular.ttf");
}
@font-face{
	font-family:'titulo';
	src: url("fontes/MsMadi-Regular.ttf");
}
@font-face{
	font-family:'texto';
	src: url("fontes/Antonio-VariableFont_wght.ttf");
}
@font-face{
	font-family:'titulo2';
	src: url("fontes/RougeScript-Regular.ttf");
}

.site{
	background-color:#240100;
	display:grid;
	grid-template-columns:20% 30% 10% 20% 20%;
	/*grid-template-rows:5% 80% 5%;*/
	grid-template-rows:50px auto auto auto 15px;
}

#menu{
	grid-column-start:1;
	grid-column-end:span 5;
}

#menu ul{
	display:flex;
	justify-content:space-around;
	list-style:none;
	align-items:center;
	height:100%;
}

#menu ul a{
	color:white;
	text-decoration:none;
	font-family:"abas";
	padding:2px;
}

ul a{
	background:#240100;
}

ul a:hover{
	background:rgba(0,0,0,0);
	color:white;
	box-shadow: 0 0 0 3px white;
	border-radius:4px;
}

#logo{
	height:30px;
}
#planodefundo{
	text-align:center;
	grid-column-start:1;
	grid-column-end:7;
	grid-row:2/4;
	border-top:5px solid white;
	border-left:none;
	border-right:none;
	border-bottom:5px solid white;
}

#papeldeparede{
	width:100%;
	height:100%;
}

#conteudo1{
	border:5px solid white;
	border-top:none;
	border-bottom:none;
	text-align:center;
	grid-column-start:2;
	grid-column-end:3;
	grid-row:2/4;
	background-color:#240100;
	color:white;
}

#conteudo1 h1{
	font-family:"titulo2";
	font-size:4em;
	margin-top:10px;
}

#conteudo1 form label{
	font-family:"texto";
}

#conteudo1 fieldset{
	border:none;
}

#conteudo1 fieldset legend{
	font-family:"texto";
}

#conteudo1 button{
	font-family:"texto";
}

#conteudo1 p{
	font-size:1.2em;
	margin: 15px 10px 20px 15px;
	font-family:"texto";
	text-align:justify;
	color:white;
}

#rodape{
	display:flex;
	background-color:#240100;
	grid-column:1/6;
	text-align:center;
	justify-content:space-evenly;
	color:white;
	font-family:"abas";
	height:5vh;
}

#rodape p{
	margin-top:10px;
}


	

